header{
  display: flex;
  width: 800px;
  margin: 0% 15%;
}


.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    margin: 0% 15%;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @phone{
        display: flex;
        flex-flow: column wrap;
        
        width: 48%;
       // margin: 0 auto 30px;
      
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @phone{
        display: flex;
        width: 48%;
        justify-content: center;
      }
    }
  }

  .content-destination {
    width: 100%;
    margin: 0 auto 30px;

  @media @phone {
   width: 100%;
   padding: 0 2.5rem;
}

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @phone{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .destination {
      width: 90%;
      margin-bottom: 30px;
      .btn{.button(@color,@background);}
      margin: 2rem 3rem;
      
    }
  
  }
  
}// home