header{
  display: flex;
  margin: 0% 10%;
  @media @phone{
    display: flex;
    width: 80%;
    
  }
}


.home {

  .content-section {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   // width: 800px;
    //margin: 0% 10%;
    @media @phone{
      display: flex;
      width: 100%;
      justify-content: center;

    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @phone{
        display: flex;
        flex-direction: column;
        width: 75%;

      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @phone{
        display: flex;
        //position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

      }

      img {
        border-radius: 10px;
        
      }
    }
  } 

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    //position: relative;
    @media @phone{
      flex-direction: column-reverse;
      margin: 0%;
      padding: 0%;
      
    }


    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @phone{
        //position: absolute;
        align-items: center;
        width: 75%;
        margin: -3% 0%;
      
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @phone{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        padding: 0%;
      }
    }
  }

  .content-destination {
    width: 100%;
    margin: 0 auto 30px;
    width: 800px;

  @media @phone {
   width: 100%;
   padding: 0 2.5rem;
  }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @phone{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .destination {
      width: 90%;
      margin-bottom: 30px;
      .btn{.button(@color,@background);}
      margin: 2rem 3rem;
      
    }
  
  }
  
}// home